recordsFiltering: Filtrování záznamů
form:
	processTask1: Zpracovat úlohu č. 1
	processTask2: Zpracovat úlohu č. 2
	processTask3: Zpracovat úlohu č. 3
	processTask4: Zpracovat úlohu č. 4

filteringResults: Výsledky filtrování
filteringOutput: "Byla zpracována úloha <strong>č. %processedTask% </strong>, nalezeno celkem %filteredItemsCount% položek vyhovujících požadavkům zadání (zbylých %unfilteredItemsCount% zadání nevyhovuje)."
compliantRecords: Vyhovující záznamy
noMatchingRecordFound: Nebyl nalezen žádný vyhovující záznam.